@import '../utils/mixins';
@import '../utils/vars';

p, a {
    font-family: $font-ubuntu;
}

#page-top-bar {
    background-color: $color-black;

    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        @media(max-width: $ipad-pro-screen){
            max-width: unset;
            margin: 0;
        }
    }
    
    section {
        grid-area: section;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        min-width: 1000px;
        
        
        @media(max-width: $ipad-pro-screen){
            min-width: unset;
        }
        
        div {
            position: relative;
        }
        
        
        &.searchBar {
            @include display-flex;
            @include justify-content(flex-end);
            @include align-items(center);
            background-color: $color-red;
            padding: 16px;
            border-radius: 10px 10px 0 0;
            position: relative;
            
            @media(max-width: $mobile-screen){
                @include justify-content(center);
                border-radius: unset;
            }
            @media(max-width: $mobile-xs-screen){
                padding: 16px 0;
            }
            
            input {
                padding: 10px 200px 10px 70px;
                font-style: italic;
                margin: 5px;
                font-size: 15px;
                border-radius: 10px;
                
                @media(max-width: $ipad-pro-screen){
                    margin-right: 20px;
                }
                @media(max-width: $mobile-screen){
                    margin: 0;
                    padding: 10px 80px 10px 80px;
                }
                @media(max-width: $mobile-xs-screen){
                    padding: 10px 50px 10px 50px;
                }

                &:focus {
                    border: none;
                    outline: 0;
                }
            }

            a {
                color: $color-white;
                @include display-flex;
                @include align-items(center);;
                text-decoration: none;  
            }
            p {
                padding: 0 0 0 5px;
                text-transform: uppercase;
            }
        }
    }
}